table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
  }

.complete-wrapper {
    width: 80%;
  }

.header {
    text-align: center;
}